@{
    ViewBag.Title = "About";
}
@*<h2 class="raleway">@ViewBag.Title</h2>*@
<h3 class="raleway">Welcome to Apollo</h3>

<p>In 1969 The Apollo program successfully launced the Apollo 11 rocket into Earth's atmosphere and landed 3 astronauts on the moon. Proving many critics wrong. The 3 astronauts proved many wrong by landing on the moon, with that notion, Apollo believe you can too!</p>
<p>The Apollo - National Admission Agency system was developed with love and care by <strong>Tom Hanson</strong> (B2019006) for his Advanced Web Applications module.</p>
<h4 class="raleway"><strong>Astronaut Name:</strong> Thomas Hanson</h4>
<h4 class="raleway"><strong>Mission Name:</strong> Advanced Web Applications</h4>
<h4 class="raleway"><strong>Mission Control:</strong> Dharam Shadija & Mo Rezai</h4>
