
@{
    ViewBag.Title = "GetRolesForUserConfirmed";
}

<h2>Get Roles For User Confirmed</h2>

@if (ViewBag.RolesForThisUser != null)
{
    <div>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

